#pied-page .colonne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

#pied-page dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

dl:nth-of-type(4) {
  width: 20%;
}
