#calendrier h1 {
  padding-bottom: 20px;
}

.date-cours caption {
  font-size: 1.5rem;
}

.date-cours {
  border-collapse: collapse; /*Enlever les bordures internes des th ou td*/
  border: 1px solid #aaa;
}

.date-cours td,
.date-cours th {
  border: 1px solid #555;
  padding: 5px;
}

.date-cours th {
  font-size: 1.2rem;
  /*Pour rendre le fond plus foncé*/
  background-color: rgba(0, 0, 0, 0.1);
  /*Info pour moi-même, ne rend pas très bien
  Pour rendre plus pâle
  background-color: rgba(255, 255, 255, 0.1)*/
}
