html {
  scroll-behavior: smooth; /*pour que la page ralentisselorsqu'on scroll*/
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

/*///////////////////Le menu*/
/* Menu principal du site.
On utilise un positionnement fixed pour que le menu reste sur chaque section*/
nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* mettre le menu  sur toute la longueur de la page*/
  background-color: black;
  padding: 4px 1rem; /*espacer le menu*/
}

nav a {
  display: block;
  color: white;
  text-decoration: none; /*enlever le soulignement*/
}
/*Début des sections de la page*/
section {
  height: 100vh; /*La section prend toute la page*/
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#accueil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: crimson;
}

#inscription {
  background-color: chocolate;
}

#galerie {
  background-color: cornflowerblue;
}

#evenement {
  background-color: darkviolet;
}

#video {
  background-color: fuchsia;
}
/*///////////////////////////////////// tableau*/
#tableau {
  background-color: aquamarine;
}

/*/ ////////////////////////////*/
#footer {
  background-color: indigo;
}
h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px #222222;
  margin: 0;
}
