html {
  scroll-behavior: smooth; /*pour que la page ralentisselorsqu'on scroll*/
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: crimson;
}
/*Adaptation de l'écran pour quelques éléments*/
@media (max-width: 899px) {
  .youtube {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .photos {
    flex-direction: column;
    align-items: center;
  }

  dl {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /*Pour que les deux derniers dl ne se chevauchent pas*/
    padding: 0;
  }
}
/*Début des sections de la page*/
section {
  min-height: 100vh; /*La section prend toute la page*/
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*section #accueil*/
#accueil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(crimson, gold);
}
#accueil p {
  text-align: center;
}
#accueil a {
  text-decoration: none;
  color: black;
}
/*Fin section #ccueil*/
#galerie {
  background: linear-gradient(cornflowerblue, darkviolet);
}

#video {
  background: linear-gradient(fuchsia, midnightblue);
}
/*formulaire d'inscription avec input*/
#inscription {
  background: linear-gradient(midnightblue, indigo);
}
/*////////////Articles////////////*/
#creations {
  background: linear-gradient(gold, cyan);
}

#creation-poesie {
  background: linear-gradient(cyan, chocolate);
}
#creation-recits {
  background: linear-gradient(chocolate, coral);
}

#creation-theatre {
  background: linear-gradient(coral, cornflowerblue);
}
/*///////////////////////////////////// tableau*/
#calendrier {
  background: linear-gradient(darkviolet, fuchsia);
}
.date-cours {
  background: linear-gradient(to bottom right, blue, aqua);
}

/*/ bas de page////////////////////////////*/
#pied-page {
  background: linear-gradient(indigo, purple);
}
h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px #222222;
  margin: 0;
}
